.header {
  min-height: 95px;
  padding-top: 40px;
  padding-bottom: 70px;

  background-image: url("../img/intro-bg.jpg");
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 210px;
}

.header-nav__list,
.header-lang__list {
  @include reset-list;

  display: flex;
}

.header-nav__link {
  margin-right: 30px;

  font-size: 13px;
  font-family: 'Open Sans';
  color: $additional-color;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.538;
  text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.17);

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.header-lang__button {
  margin-right: 30px;
  padding: 0;

  font-size: 13px;
  font-family: 'Open Sans';
  color: $additional-color;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.538;
  text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.17);

  background: none;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.header-logo-wrapper {
  width: 555px;
  height: 265px;
  margin: 0 auto;
  margin-bottom: 175px;
}

.header-intro__buttons-wrapper {
  display: flex;
  justify-content: center;
}

.header-intro__button {
  min-width: 250px;
  min-height: 55px;

  font-size: 16px;
  font-family: 'Open Sans';
  color: $additional-color;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: center;

  background: none;
  border: 2px solid $additional-color;
  border-radius: 2px;

  cursor: pointer;

  &:nth-of-type(1) {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.2);
  }
}