.news {
  background-color: $background-color;
}

.news-wrapper {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}

.news__column {
  display: flex;
  flex-direction: column;

  &--left {
    margin-right: 30px;
  }

  &--right {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.news__item {
  width: 360px;
  min-height: 350px;
  display: flex;
  flex-direction: column;

  background-color: $additional-color;

  &--video {
    min-width: 750px;
  }

  &--picture {
    background-image: url("../img/news-2.jpg");
  }

  &:nth-last-of-type(1) {
    margin-top: 30px;
  }
}

.news__item-info {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.news__column--right .news__item:nth-of-type(1) {
  margin-right: 30px;
}

.news__item-image-wrapper {
  width: 360px;
  height: 250px;
}

.news__item-date {
  margin-bottom: 15px;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 300;
  color: $main-text-color;
}

.news__item-header {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 400;
  color: $accent-color;
  text-transform: uppercase;
}

.news__item--picture .news__item-header {
  font-size: 36px;
  font-family: "Lavanderia";
  font-weight: 400;
  color: $background-color;
  text-align: center;
  text-transform: none;
}

.news__item-description {
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  color: $main-text-color;
}

.news__item-link {
  margin-bottom: 40px;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  color: $main-text-color;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $main-color;
  }
}

.news__item-like-tag-wrapper {
  display: flex;
  flex-direction: row;
}

.news__item-like {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  background: none;
  background-image: url("../img/icon-like.png");
  border: none;
  cursor: pointer;

  &--liked {
    background-image: url("../img/icon-like-active.png");
  }
}

.news__item--picture .news__item-like {
  background-image: url("../img/icon-like-light.png");

  &--liked {
    background-image: url("../img/icon-like-active.png");
  }
}

.news__item-tags {
  position: relative;
  padding-left: 25px;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  color: $main-text-color;

  &::before {
    position: absolute;
    content: "";
    left: 0px;
    top: -2px;
    width: 30px;
    height: 20px;
    background-image: url("../img/icon-tag.png");
    background-repeat: no-repeat;
  }
}

.news__item--picture .news__item-tags {
  color: $additional-color;

  &::before {
    background-image: url("../img/icon-tag-light.png");
  }
}