.news-header {
  font-size: 18px;
  font-family: 'Open Sans';
  color: $accent-color;
  line-height: 2;
  text-transform: uppercase;
}

.news-text {
  font-size: 10px;
  font-family: 'Open Sans';
  color: rgb(188, 190, 191);
  line-height: 2;
  text-align: justifyLeft;
}

.tag-text {
  font-size: 10px;
  font-family: 'Open Sans';
  color: rgb(188, 190, 191);
  line-height: 2;
  text-transform: uppercase;
}