$accent-color: #b0bc42;
$main-color: #464849;
$main-text-color: #bcbebf;
$additional-color: #ffffff;
$background-color: #fafafa;
$additional-background-color: #2d2d2d;
$detail-color: #e8e8e8;

$desktop-width: 1140px;
$icon-size: 24px;